/*====================================================== Home Page Styles =========================================================================================*/
.owl-carousel .owl-item img {
  width: auto;
}
.owl-carousel .owl-item img.w-100 {
  width: 100% !important;
}

/* .owl-nav {
    margin-top: 1.5rem;
        text-align: center;
    .owl-prev,
    .owl-next {
        width: 3rem;
        height: 3rem;border-radius: 50% !important;margin: .25rem;
        background: var(--chevron-right) no-repeat center center / 1.5rem !important;
        background-color: var(--white) !important;box-shadow: 0 2px 3px rgba(0, 110, 22, 0.2);
        border-radius: var(--border-radius);
        transition: all .3s ease-in-out;

        span {
            display: none;
        }
        &.disabled { opacity: .6;pointer-events: none; }
    }
    .owl-prev {
        background: var(--chevron-left) no-repeat center center / 1.5rem !important;background-color: #fff !important;
    }
    .owl-prev,
    .owl-next {
        &:hover {
            background-color: #e0e0e0 !important;
        }
    }
} */
.owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}
.owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 0.2rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(124, 124, 124, 0.3176470588) !important;
}
.owl-dots .owl-dot.active {
  background-color: var(--brand) !important;
  width: 16px;
  border-radius: 8px;
}

.header__wrapper {
  min-height: 550px;
}
.header__wrapper .text-primary {
  color: var(--brand-light) !important;
}
.header__wrapper .thumbnail {
  -o-object-position: center top;
     object-position: center top;
}

.provied__wraper .service__card {
  background-color: #F2F9FF;
}
.provied__wraper .service__card .icon {
  width: 2.6rem;
  opacity: 1;
}
.provied__wraper .service__card .icon__box {
  width: 4.25rem;
  height: 4.25rem;
  background-color: rgb(0, 135, 198) !important;
}
.provied__wraper .service__card .card__text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.about__wraper {
  background: #F4F4F4;
}
.about__wraper .about__card .icon__round {
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 50%;
  background-color: #F0FAFE !important;
}

.promo__wrapper {
  border-radius: 2.375rem;
  overflow: hidden;
}
.promo__wrapper .height {
  min-height: 4.5rem;
  width: 45%;
  border-radius: 14px;
}

.services__wrapper .icon__box {
  width: 4.25rem;
  height: 4.25rem;
  background-color: rgb(0, 135, 198) !important;
  margin-top: -4rem;
  position: absolute;
}
.services__wrapper .card__text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.wraper__section .card {
  box-shadow: rgb(87, 87, 87) 0px 3px 20px;
}
.wraper__section .card .icon__round {
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 50%;
  background-color: #F0FAFE !important;
}
.wraper__section .card .card__text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.wraper__section .card:hover {
  transform: translate(0.5rem, 1rem);
  transition: all 0.3s ease-in-out;
}

.testi__card {
  background: #FFFFFF;
  border-radius: 1.25rem;
}
.testi__card .authore__box .thumbnail {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  border: 1px solid #00468A;
  padding: 0.3rem;
}

.heading {
  font-size: 3.8rem !important;
}

.extra__btn {
  border-bottom: 1px solid #0086C6;
  width: 14rem;
}

.hero__thamnail {
  background-color: rgba(0, 0, 0, 0.5137254902);
}/*# sourceMappingURL=style.css.map */