
.owl-carousel .owl-item img { 
    width: auto;
    &.w-100 {
        width: 100% !important;
    }
}

/* .owl-nav {
    margin-top: 1.5rem;
        text-align: center;
    .owl-prev,
    .owl-next {
        width: 3rem;
        height: 3rem;border-radius: 50% !important;margin: .25rem;
        background: var(--chevron-right) no-repeat center center / 1.5rem !important;
        background-color: var(--white) !important;box-shadow: 0 2px 3px rgba(0, 110, 22, 0.2);
        border-radius: var(--border-radius);
        transition: all .3s ease-in-out;

        span {
            display: none;
        }
        &.disabled { opacity: .6;pointer-events: none; }
    }
    .owl-prev {
        background: var(--chevron-left) no-repeat center center / 1.5rem !important;background-color: #fff !important;
    }
    .owl-prev,
    .owl-next {
        &:hover {
            background-color: #e0e0e0 !important;
        }
    }
} */
  
.owl-dots {
    display: flex;justify-content: center;align-items: center; 
    margin-top: 1.5rem;
    .owl-dot {
        width: 10px;height: 10px;border-radius: 50%;margin: 0 .2rem;
        justify-content: center;align-items: center;background-color: #7C7C7C51 !important;
         
        &.active {
            background-color: #ffff !important;
            width: 16px;border-radius: 8px;
        }
    }
}



.header__wrapper{
    min-height: 100vh;
    .thumbnail {
        object-position: center top;
    }

    .extra__box{
        max-width: 27rem; 
        background-color: var(--brand); 
        bottom: 0;
    }
}
@media (max-width:1300px) {
    .header__wrapper{
        min-height: 90vh;
    }
}
@media (max-width:992px) {
    .header__wrapper{
        min-height: 80vh;
    }
}
@media (max-width:768px) {
    .header__wrapper{
        min-height: 50vh;
        .extra__box {
            max-width: 100%; 
            width: 100%;

        }
    }
}
@media (max-width:575px) {
    .header__wrapper{
        min-height: 35vh;
        .extra__box {
            max-width: 100%; 
            width: 100%;

        }
    }
}




.service__card{
    overflow: hidden;
    .card__text{
        height: 7.5rem;
    }
    .num{
        color: #B9B9B9;
    }
    .icon { height: 4.5rem;width: auto;
        &:hover{
            transform: translateX(4px);transition: all .3s ease-in-out
        }
     }
    .title {
        color: #5D5D5D;
        a {
            color: #5D5D5D; 
        }
    }
    .desc { color: #5D5D5D;height: 13rem;overflow-y: auto;min-height: 7rem; }
    .more__btn{
        span{
            display: none;
        }
    }
    .overlay__wrap {
        transform: translateY(100%);transition: all .3s ease-in-out;z-index: 0;
    }

    &:hover {
        .icon { filter: contrast(0) brightness(10);transition: all .3s ease-in-out; }
        .title {
            color: var(--white);
            a  {
                color: var(--white);

                &:hover {
                    color: var(--brand);
                }
            }
        }
        .desc, .num {
            color: var(--white);
        }
        .overlay__wrap {
            transform: translateY(0);
        }
        .more__btn{
            color: var(--white);
            span{
                display: inline-block;
            }
            .arrow__wrap{
                filter: contrast(0) brightness(10);transition: all .3s ease-in-out;
            }
        }
    } 

    &.detail {
        .desc { height: auto; }
    }
}




.carousel__weraper{
    .services__card{  
        padding: 1.5rem;
        transition: all 0.5s ease-in-out;
        .card__text{
            height: 7rem;
        }
        &:hover{
            color: var(--white);
            background-color: var(--brand-light);
            .icon__circle{
                background-color: var(--white);
            }
        }
    } 
}


.carousel__wrapper{
    .services__card{  
        padding: 1.5rem;
        border: 1px solid #FAFAFA4E;
        opacity: 1;

        .card__text{
            height: 20rem;
        }
    } 
}

.promo__wraper{
    .services__card{  
        padding: 1.5rem;
        border: 1px solid #FAFAFA4E;
        opacity: 1;

        .card__text{
            height: 11rem;
        }

    } 
}



.nav-tabs {
    position: relative;
    .nav-link {
        color: var(--link-color);flex: 1 0 0;
        position: relative;
        line-height: 1.4;
       
        &.active {
            color: #ffff;
            background-color: transparent;
            &::after {
                content: '';display: block;width: 100%;height: 3px;background-color: #fff;border-radius: 6px;
                position: absolute;bottom: -.2rem;left: 0%;
            }
        }
    }

    &::after {
        content: '';display: block;width: 100%;height: 3px;background-color: #FAFAFA4E;border-radius: 6px;
    }
}
@media (max-width:575px) {
    .nav-tabs {
        .nav-link {
            width: 50%;flex: 0 0 50%;
            &:nth-child(1), &:nth-child(2) {
                margin-bottom: 1rem !important;
            }
        }
        &::before {
            content: '';display: block;width: 100%;height: 3px;background-color: #D9D9D9;border-radius: 6px;position: absolute;
            top: 2.35rem;width: 100%;
        }
    }
}



 
.testi__card{
    border: 1px solid #FAFAFA4E;
    opacity: 1;
    .img__wrap{
     height: 90px;
    }
}



.blog__wrapper{
    .services__card{  
        padding: 1.5rem;
        border: 1px solid #FAFAFA4E;
        opacity: 1;

        .card__text{
            height: 11rem;
        }
        .icon {
            &:hover{
                transform: translateX(4px);transition: all .3s ease-in-out
            }
         }

    } 
}

.form-control {
    display: block;
    width: 100%;
    padding: 1.375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #000000;
    background-clip: padding-box;
    border: 1px solid #E3E3E364;
    border-radius: 19px;
    opacity: 1;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}





