
.owl-carousel .owl-item img { 
    width: auto;
    &.w-100 {
        width: 100% !important;
    }
}

/* .owl-nav {
    margin-top: 1.5rem;
        text-align: center;
    .owl-prev,
    .owl-next {
        width: 3rem;
        height: 3rem;border-radius: 50% !important;margin: .25rem;
        background: var(--chevron-right) no-repeat center center / 1.5rem !important;
        background-color: var(--white) !important;box-shadow: 0 2px 3px rgba(0, 110, 22, 0.2);
        border-radius: var(--border-radius);
        transition: all .3s ease-in-out;

        span {
            display: none;
        }
        &.disabled { opacity: .6;pointer-events: none; }
    }
    .owl-prev {
        background: var(--chevron-left) no-repeat center center / 1.5rem !important;background-color: #fff !important;
    }
    .owl-prev,
    .owl-next {
        &:hover {
            background-color: #e0e0e0 !important;
        }
    }
} */
  
.owl-dots {
    display: flex;justify-content: center;align-items: center; 
    margin-top: 1.5rem;
    .owl-dot {
        width: 10px;height: 10px;border-radius: 50%;margin: 0 .2rem;
        justify-content: center;align-items: center;background-color: #7C7C7C51 !important;
         
        &.active {
            background-color: var(--brand) !important;
            width: 16px;border-radius: 8px;
        }
    }
}



.header__wrapper{
    min-height: 550px;

    .text-primary { color: var(--brand-light) !important; }
     
    .thumbnail {
        object-position: center top;
    }
}




.service__card {
    background-color: #F2F9FF;
 
    .icon__box {
        width: 4.25rem;
        height: 4.25rem; 

        img {
            width: 1.875rem;height: auto;

            &.teeth {
                width: 2.5rem;
            }
        }
     }

    .title {
        min-height: 2.25rem;
    }
     
     .card__text {
        height: 6rem;
    }

    &.large{
        box-shadow: 0px 3px 6px #00000029;

        .caption {
            margin-top: -2.5rem;position: relative;z-index: 11;

            .title {
                min-height: 3.25rem;
            }
        }
    }
} 

.excellenceCarousel {
    .owl-stage-outer {
        height: calc(100% + 30px);
        margin: -15px;
        padding: 15px;
        width: calc(100% + 30px);
    }
}
 


.about__wraper{
    background: #F4F4F4;
    .about__card{
        .icon__round {
            width: 4.25rem;
            height: 4.25rem;
            border-radius: 50%;
            background-color:#F0FAFE!important;
        }    

    }
}



.promo__wrapper {
    border-radius: 2.375rem;
    overflow: hidden;

    .btn.height {
        min-height: 4.5rem; 
        border-radius: 14px;
       
    }
}
.contact__info__box {
    .icon { width: 3rem; }
}
@media (max-width:575px) {
    .promo__wrapper {
        border-radius: 1.5rem;

        .btn.height {
            min-height: 3.5rem;border-radius: .625rem;
        }
    }
    .contact__info__box {
        .icon {
            width: 2rem;
            img {
                width: 1.25rem;height: auto;
            }
        }
        .lead {
            font-size: 1.067rem;
        }
    }
}
 


.wraper__section{

    .card{
        box-shadow: 0px 3px 20px #57575729;
        border: 1px solid #E5E5E5; 

        .icon__round {
            width: 4.25rem;
            height: 4.25rem;
            border-radius: 50%;
            background-color:#F0FAFE!important;
        }  
        .title {
            color: #414141;
            min-height: 3rem;
        }  
        .card__text {
            height: 6rem;
        }
            
        &:hover{ 
            box-shadow: 0px 3px 10px #57575707;
            
        }
    }
}


.testimionalSlider {
    .owl-item {
        padding-top: 4rem;
    }
}
.testi__card{
    background: #FFFFFF;
    border-radius: 1.25rem;
    
    .thumbnail{
        border-radius: 50%;
        width: 7rem;height: 7rem;
        border: 1px solid #00468A;
        padding: 0.3rem;
        top: -3.5rem; 
    }
    .rating {
        width: 9rem !important;height: auto;
    }
    
} 
 
.form-control {
    height: 3rem;border-color: #E0E0E0;
}
.large__form {
    .form-control {
        height: 3.5rem;
    }
}