 
.page-header {
    
}

.date {
    color: #747474;
    margin-bottom: .5rem;font-weight: 600;
}

.blog__card { 
    box-shadow: 0px 3px 6px #00000014;
    border: 1px solid var(--border-color);

    .caption {
        .title{
            font-weight: 600;margin-bottom: .75rem;
            a {
                color: var(--dark);
    
                &:focus, &:hover, &:active {
                    color: var(--brand);
                }
            }
        }
        .desc {
            overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 3;white-space: normal;
            display: -webkit-box;-webkit-box-orient: vertical;color: #6a6a6a;
        }

    }

    &:hover {
        box-shadow: 0px 6px 11px rgba(141, 141, 141, 0.1607843137);
        border-color: #8D8D8D29;
    }
}


.detail__box { 
    position: relative; 
    font-weight: 500;
 
    .back__btn {
        width: 4rem;height: 4rem; 
        background-color: #f9f9f9;position: absolute;top: 0%;left: -5rem;

        &:hover {
            background-color: #eeeeee;
        }
    }

    .space { margin-bottom: 4rem; }


    h1 { font-size: 2.25rem;font-weight: 600;color: var(--dark);margin-top: 2rem;margin-bottom: 1rem;  } 
    h2, .h2 { font-size: 2rem;font-weight: 600;color: var(--dark);margin-top: 4rem;  } 
    h3, .h3 { font-size: 1.5rem;font-weight: 600;color: var(--dark);margin-top: 2rem; }
    h4, .h4 { font-size: 1.25rem;font-weight: 600;color: var(--dark); }
    h5, .h5 { font-size: 1.125rem;color: var(--dark); }
}

.author__box {
    .logo__box {
        width: 5rem;height: 5rem;

        img {
            height: 1.5rem;width: auto;
        }
    }
    .caption {
        width: calc(100% - 5rem);
    }
}

@media (max-width: 575px) {
    .author__box {
        .logo__box {
            width: 4rem;height: 4rem;
    
            img {
                height: 1rem; 
            }
        }
        .caption {
            width: calc(100% - 4rem);
        }
    }
}

@media (max-width:991px) {
    
    .detail__box { 

        .space { margin-bottom: 3.5rem; }
 
        h1 { font-size: 2rem;  } 
        h2, .h2 { font-size: 1.75rem;margin-top: 3rem;  } 
        h3, .h3 { font-size: 1.35rem;margin-top: 1.5rem; }
        h4, .h4 { font-size: 1.125rem; }
        h5, .h5 { font-size: 1rem;color: var(--dark); }
    }

}

@media (max-width:575px) {
    
    .detail__box {  
        .space { margin-bottom: 3rem; }
 
        h1 { font-size: 1.875rem;  } 
        h2, .h2 { font-size: 1.5rem;margin-top: 3rem;  } 
        h3, .h3 { font-size: 1.25rem;margin-top: 1.5rem; }
        h4, .h4 { font-size: 1.067rem; } 
    }

}

.ellipsis-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
}