 
/*---------------- Page Header Styles -----------------*/
.page__header {
    position: relative; 
    box-shadow: inset 0 0 0 2000px #00272FD6; 
} 


.date {
    color: #747474;
    margin-bottom: .5rem;font-weight: 600;
} 

.detail__box {
    max-width: 900px;
    position: relative; 
 
    .back__btn {
        width: 4rem;height: 4rem;background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItYXJyb3ctbGVmdCI+PGxpbmUgeDE9IjE5IiB5MT0iMTIiIHgyPSI1IiB5Mj0iMTIiPjwvbGluZT48cG9seWxpbmUgcG9pbnRzPSIxMiAxOSA1IDEyIDEyIDUiPjwvcG9seWxpbmU+PC9zdmc+') no-repeat center center / 1.65rem;
        background-color: #f9f9f9;position: absolute;top: 0%;left: -5rem;

        &:hover {
            background-color: #eeeeee;
        }
    }
}


.ellipsis-3 { 
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
}
